nodered/smartback/flows.json
[{"id":"smartback-tab","type":"tab","label":"SmartBack ingestion","disabled":false,"info":"Ricezione dei dati grezzi, normalizzazione tecnica e persistenza raw. La logica posturale resta nel backend Python."},{"id":"cfg-smartback-mqtt","type":"mqtt-broker","name":"SmartBack Mosquitto","broker":"mosquitto","port":"1883","clientid":"smartback-nodered","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"smartback/status/nodered","birthQos":"0","birthPayload":"online","birthMsg":{},"closeTopic":"smartback/status/nodered","closeQos":"0","closePayload":"offline","closeMsg":{},"willTopic":"smartback/status/nodered","willQos":"0","willPayload":"offline","willMsg":{}},{"id":"mqtt-raw-acc","type":"mqtt in","z":"smartback-tab","name":"HOWDY raw accelerometer","topic":"smartback/raw/accgyro","qos":"1","datatype":"auto-detect","broker":"cfg-smartback-mqtt","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":100,"wires":[["json-acc"]]},{"id":"json-acc","type":"json","z":"smartback-tab","name":"Parse JSON","property":"payload","action":"obj","pretty":false,"x":380,"y":100,"wires":[["normalize-acc"]]},{"id":"normalize-acc","type":"function","z":"smartback-tab","name":"Validate and normalize raw sample","func":"const p = msg.payload;\nif (!p || !p.device_id || !p.patient_id || !p.timestamp || !Array.isArray(p.samples) || p.samples.length === 0) {\n    node.warn('Invalid accelerometer payload');\n    return [null, null];\n}\nconst s = p.samples[0];\nfor (const axis of ['x','y','z']) {\n    if (typeof s[axis] !== 'number' || !Number.isFinite(s[axis])) return [null, null];\n}\nconst normalized = {\n    schema_version: 1, device_id: String(p.device_id), patient_id: String(p.patient_id),\n    timestamp: Number(p.timestamp), sequence: Number(p.sequence || 0), type: 'accgyro',\n    x: s.x, y: s.y, z: s.z, quality: String(p.quality || 'unknown'),\n    source_topic: msg.topic, simulation_state: p.simulation_state || null\n};\nconst mqttMsg = { topic: 'smartback/normalized/posture', payload: normalized, qos: 1 };\nconst tags = `device_id=${normalized.device_id},patient_id=${normalized.patient_id},quality=${normalized.quality}`;\nconst fields = `x=${normalized.x},y=${normalized.y},z=${normalized.z},sequence=${normalized.sequence}i`;\nconst influxMsg = {\n    method: 'POST',\n    url: `${env.get('INFLUXDB_URL')}/api/v2/write?org=${env.get('INFLUXDB_ORG')}&bucket=${env.get('INFLUXDB_BUCKET')}&precision=ms`,\n    headers: {'Authorization': `Token ${env.get('INFLUXDB_TOKEN')}`, 'Content-Type': 'text/plain; charset=utf-8'},\n    payload: `raw_accelerometer,${tags} ${fields} ${normalized.timestamp}`\n};\nreturn [mqttMsg, influxMsg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":100,"wires":[["mqtt-normalized-posture","debug-posture"],["influx-write-raw"]]},{"id":"mqtt-normalized-posture","type":"mqtt out","z":"smartback-tab","name":"Normalized posture","topic":"","qos":"","retain":"false","respTopic":"","contentType":"application/json","userProps":"","correl":"","expiry":"","broker":"cfg-smartback-mqtt","x":940,"y":70,"wires":[]},{"id":"influx-write-raw","type":"http request","z":"smartback-tab","name":"Persist raw in InfluxDB","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":940,"y":180,"wires":[["status-raw-write"]]},{"id":"status-raw-write","type":"status","z":"smartback-tab","name":"","scope":["influx-write-raw"],"x":1180,"y":180,"wires":[[]]},{"id":"debug-posture","type":"debug","z":"smartback-tab","name":"Normalized sample","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":120,"wires":[]},{"id":"mqtt-raw-battery","type":"mqtt in","z":"smartback-tab","name":"HOWDY raw battery","topic":"smartback/raw/battery","qos":"1","datatype":"auto-detect","broker":"cfg-smartback-mqtt","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":280,"wires":[["json-battery"]]},{"id":"json-battery","type":"json","z":"smartback-tab","name":"Parse JSON","property":"payload","action":"obj","pretty":false,"x":370,"y":280,"wires":[["normalize-battery"]]},{"id":"normalize-battery","type":"function","z":"smartback-tab","name":"Validate device status","func":"const p = msg.payload;\nif (!p || !p.device_id || !p.patient_id || !p.timestamp || typeof p.state_of_charge !== 'number') return [null, null];\nconst normalized = {schema_version: 1, device_id: String(p.device_id), patient_id: String(p.patient_id), timestamp: Number(p.timestamp), type: 'battery', state_of_charge: p.state_of_charge, charging: Boolean(p.charging), quality: String(p.quality || 'unknown')};\nconst mqttMsg = {topic: 'smartback/normalized/device', payload: normalized, qos: 1, retain: true};\nconst tags = `device_id=${normalized.device_id},patient_id=${normalized.patient_id}`;\nconst influxMsg = {method: 'POST', url: `${env.get('INFLUXDB_URL')}/api/v2/write?org=${env.get('INFLUXDB_ORG')}&bucket=${env.get('INFLUXDB_BUCKET')}&precision=ms`, headers: {'Authorization': `Token ${env.get('INFLUXDB_TOKEN')}`, 'Content-Type': 'text/plain; charset=utf-8'}, payload: `device_status,${tags} state_of_charge=${normalized.state_of_charge},charging=${normalized.charging} ${normalized.timestamp}`};\nreturn [mqttMsg, influxMsg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":280,"wires":[["mqtt-normalized-device"],["influx-write-device"]]},{"id":"mqtt-normalized-device","type":"mqtt out","z":"smartback-tab","name":"Normalized device status","topic":"","qos":"","retain":"true","respTopic":"","contentType":"application/json","userProps":"","correl":"","expiry":"","broker":"cfg-smartback-mqtt","x":940,"y":250,"wires":[]},{"id":"influx-write-device","type":"http request","z":"smartback-tab","name":"Persist device status","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":940,"y":310,"wires":[[]]},{"id":"comment","type":"comment","z":"smartback-tab","name":"Node-RED performs transport validation only. Posture calculations are in FastAPI.","info":"","x":420,"y":40,"wires":[]}]