nodered/smartback/flows.json
[
  {
    "id": "smartback-tab",
    "type": "tab",
    "label": "SmartBack shirt ingestion",
    "disabled": false,
    "info": "Adattatore per il protocollo MQTT non modificabile dell'ESP32. Riceve unisadiem/smartshirt/<device>/<packet>, conserva il raw e normalizza ACC_GYRO e BATTERY_INFO per FastAPI."
  },
  {
    "id": "cfg-smartback-mqtt",
    "type": "mqtt-broker",
    "name": "SmartBack Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "smartback-nodered",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "smartback/status/nodered",
    "birthQos": "0",
    "birthPayload": "online",
    "birthMsg": {},
    "closeTopic": "smartback/status/nodered",
    "closeQos": "0",
    "closePayload": "offline",
    "closeMsg": {},
    "willTopic": "smartback/status/nodered",
    "willQos": "0",
    "willPayload": "offline",
    "willMsg": {}
  },
  {
    "id": "shirt-comment",
    "type": "comment",
    "z": "smartback-tab",
    "name": "1. RICEZIONE — protocollo ESP32 invariato",
    "info": "Il device_id viene ricavato dal topic. Il patient_id deriva dall'assegnazione medico-paziente pubblicata dal backend; SMARTSHIRT_PATIENT_ID resta solo come fallback di sviluppo.",
    "x": 310,
    "y": 40,
    "wires": []
  },
  {
    "id": "mqtt-device-assignments",
    "type": "mqtt in",
    "z": "smartback-tab",
    "name": "MQTT IN — assegnazioni magliette",
    "topic": "smartback/config/device-assignments/+",
    "qos": "1",
    "datatype": "json",
    "broker": "cfg-smartback-mqtt",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 90,
    "wires": [
      [
        "store-device-assignment"
      ]
    ]
  },
  {
    "id": "store-device-assignment",
    "type": "function",
    "z": "smartback-tab",
    "name": "AGGIORNA — maglia ↔ paziente",
    "func": "const assignment = msg.payload;\nif (!assignment || !assignment.device_id) return null;\nconst assignments = flow.get('deviceAssignments') || {};\nassignments[assignment.device_id] = assignment.active && assignment.patient_id ? assignment.patient_id : null;\nflow.set('deviceAssignments', assignments);\nnode.status({fill: assignment.active ? 'green' : 'grey', shape: 'dot', text: assignment.active ? `${assignment.device_id} → ${assignment.patient_id}` : `${assignment.device_id} libera`});\nreturn {...msg, payload: assignment};",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 90,
    "wires": [
      [
        "debug-device-assignment"
      ]
    ]
  },
  {
    "id": "debug-device-assignment",
    "type": "debug",
    "z": "smartback-tab",
    "name": "DEBUG — assegnazioni",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 770,
    "y": 90,
    "wires": []
  },
  {
    "id": "mqtt-simulated-devices",
    "type": "mqtt in",
    "z": "smartback-tab",
    "name": "MQTT IN — maglie simulate",
    "topic": "smartback/config/simulated-devices/+",
    "qos": "1",
    "datatype": "json",
    "broker": "cfg-smartback-mqtt",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 130,
    "wires": [
      [
        "store-simulated-device"
      ]
    ]
  },
  {
    "id": "store-simulated-device",
    "type": "function",
    "z": "smartback-tab",
    "name": "AGGIORNA — sorgenti simulate",
    "func": "const config = msg.payload;\nif (!config || !config.device_id) return null;\nconst simulated = flow.get('simulatedDevices') || {};\nsimulated[config.device_id] = Boolean(config.active);\nflow.set('simulatedDevices', simulated);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 130,
    "wires": []
  },
  {
    "id": "mqtt-shirt-all",
    "type": "mqtt in",
    "z": "smartback-tab",
    "name": "MQTT IN — ESP32 o simulatore",
    "topic": "unisadiem/smartshirt/+/#",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "cfg-smartback-mqtt",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 100,
    "wires": [
      [
        "json-shirt",
        "debug-mqtt-input"
      ]
    ]
  },
  {
    "id": "json-shirt",
    "type": "json",
    "z": "smartback-tab",
    "name": "Decodifica JSON dell'ESP32",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 420,
    "y": 100,
    "wires": [
      [
        "filter-monitor-shirt",
        "debug-json-parsed"
      ]
    ]
  },
  {
    "id": "filter-monitor-shirt",
    "type": "function",
    "z": "smartback-tab",
    "name": "FILTRA — conserva solo dati utili",
    "func": "const parts = String(msg.topic || '').split('/');\nconst packetType = parts.slice(3).join('_').toUpperCase();\nconst allowedTypes = new Set(['ACC_GYRO', 'BATTERY_INFO', 'DATALOSS', 'SYSTEM_INFO']);\nif (!allowedTypes.has(packetType)) {\n    const ignored = context.get('ignoredPackets') || {};\n    ignored[packetType || 'UNKNOWN'] = (ignored[packetType || 'UNKNOWN'] || 0) + 1;\n    context.set('ignoredPackets', ignored);\n    node.status({fill: 'grey', shape: 'ring', text: `scartati ${Object.values(ignored).reduce((a, b) => a + b, 0)}`});\n    return [null, null];\n}\n\nlet gapAlert = null;\nif (packetType === 'ACC_GYRO' && Number.isFinite(Number(msg.payload?.samplenum))) {\n    const deviceId = parts[2];\n    const assignments = flow.get('deviceAssignments') || {};\n    const patientId = Object.prototype.hasOwnProperty.call(assignments, deviceId) ? assignments[deviceId] : (env.get('SMARTSHIRT_PATIENT_ID') || 'patient-demo-001');\n    const sequence = Number(msg.payload.samplenum);\n    const lastSequences = context.get('lastAccSequences') || {};\n    const previous = lastSequences[deviceId];\n    if (patientId && Number.isFinite(previous) && sequence > previous + 1) {\n        const missing = sequence - previous - 1;\n        gapAlert = {\n            topic: 'smartback/alerts/device', qos: 1, retain: false,\n            payload: {\n                schema_version: 1, timestamp: Date.now(), device_id: deviceId, patient_id: patientId,\n                category: 'data_quality', severity: missing >= 5 ? 'critical' : 'warning',\n                code: 'ACC_SEQUENCE_GAP', message: `Sequenza incompleta: mancano ${missing} pacchetti ACC tra le sequenze ${previous} e ${sequence}`,\n                active: true, previous_sequence: previous, current_sequence: sequence, missing_packets: missing,\n                source: 'nodered_ingress'\n            }\n        };\n    }\n    lastSequences[deviceId] = sequence;\n    context.set('lastAccSequences', lastSequences);\n}\n\nnode.status({fill: 'green', shape: 'dot', text: packetType});\nreturn [msg, gapAlert];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 100,
    "wires": [
      [
        "adapt-shirt-packet"
      ],
      [
        "mqtt-device-alert"
      ]
    ]
  },
  {
    "id": "adapt-shirt-packet",
    "type": "function",
    "z": "smartback-tab",
    "name": "NORMALIZZA — identifica tipo e prepara output",
    "func": "const parts = String(msg.topic || '').split('/');\nconst p = msg.payload;\nif (parts.length < 4 || parts[0] !== 'unisadiem' || parts[1] !== 'smartshirt' || !p || typeof p !== 'object') {\n    node.warn(`Pacchetto smart shirt non valido su ${msg.topic}`);\n    return [null, null, null, null, null];\n}\n\nconst deviceId = parts[2];\nconst packetType = parts.slice(3).join('_').toUpperCase();\nconst assignments = flow.get('deviceAssignments') || {};\nconst patientId = Object.prototype.hasOwnProperty.call(assignments, deviceId) ? assignments[deviceId] : (env.get('SMARTSHIRT_PATIENT_ID') || 'patient-demo-001');\nconst assigned = Boolean(patientId);\nconst simulatedDevices = flow.get('simulatedDevices') || {};\nconst sourceQuality = simulatedDevices[deviceId] ? 'simulated' : 'measured';\nconst receivedAt = Date.now();\nconst envelope = {\n    ...p,\n    device_id: deviceId,\n    patient_id: patientId,\n    packet_type: packetType,\n    source_topic: msg.topic,\n    source_timestamp: p.timestamp ?? null,\n    gateway_received_at: receivedAt,\n    quality: sourceQuality\n};\n\nconst rawMsg = {\n    topic: `smartback/shirt/raw/${deviceId}/${packetType.toLowerCase()}`,\n    payload: envelope,\n    qos: 1,\n    retain: false\n};\n\nconst escapedJson = JSON.stringify(envelope).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\nconst safeDevice = deviceId.replace(/[ ,=]/g, '_');\nconst safeType = packetType.replace(/[ ,=]/g, '_');\nconst influxMsg = {\n    method: 'POST',\n    url: `${env.get('INFLUXDB_URL')}/api/v2/write?org=${encodeURIComponent(env.get('INFLUXDB_ORG'))}&bucket=${encodeURIComponent(env.get('INFLUXDB_BUCKET'))}&precision=ms`,\n    headers: {\n        Authorization: `Token ${env.get('INFLUXDB_TOKEN')}`,\n        'Content-Type': 'text/plain; charset=utf-8'\n    },\n    payload: `shirt_raw,device_id=${safeDevice},packet_type=${safeType} payload_json=\"${escapedJson}\" ${receivedAt}`\n};\n\nlet postureMsg = null;\nlet deviceMsg = null;\nlet alertMsg = null;\nif ((packetType === 'ACC_GYRO' || p.type === 'accgyro') && assigned) {\n    if (!Array.isArray(p.samples) || p.samples.length === 0) {\n        node.warn(`ACC_GYRO senza campioni da ${deviceId}`);\n    } else {\n        const valid = p.samples.filter(s => s && ['x', 'y', 'z'].every(axis => Number.isFinite(Number(s[axis]))));\n        if (valid.length > 0) {\n            const mean = axis => valid.reduce((sum, sample) => sum + Number(sample[axis]), 0) / valid.length;\n            const mx = mean('x');\n            const my = mean('y');\n            const mz = mean('z');\n            const magnitude = Math.sqrt(mx * mx + my * my + mz * mz);\n            if (magnitude > 0) {\n                postureMsg = {\n                    topic: 'smartback/normalized/posture',\n                    qos: 1,\n                    retain: false,\n                    payload: {\n                        schema_version: 1,\n                        device_id: deviceId,\n                        patient_id: patientId,\n                        timestamp: receivedAt,\n                        sequence: Number(p.samplenum || 0),\n                        type: 'accgyro',\n                        sampling_frequency: Number(p.sampling_frequency || 0),\n                        x: mx / magnitude,\n                        y: my / magnitude,\n                        z: mz / magnitude,\n                        quality: sourceQuality,\n                        source_topic: msg.topic,\n                        source_timestamp: p.timestamp ?? null,\n                        sample_count: valid.length,\n                        orientation: p.orientation ?? null\n                    }\n                };\n            }\n        }\n    }\n} else if ((packetType === 'BATTERY_INFO' || p.type === 'battery') && assigned) {\n    const soc = Number(p.state_of_charge);\n    if (Number.isFinite(soc)) {\n        const boundedSoc = Math.max(0, Math.min(100, soc));\n        deviceMsg = {\n            topic: 'smartback/normalized/device',\n            qos: 1,\n            retain: true,\n            payload: {\n                schema_version: 1,\n                device_id: deviceId,\n                patient_id: patientId,\n                timestamp: receivedAt,\n                type: 'battery',\n                state_of_charge: boundedSoc,\n                charging: Boolean(Number(p.charging)),\n                quality: sourceQuality,\n                source_topic: msg.topic,\n                source_timestamp: p.timestamp ?? null,\n                voltage: p.voltage ?? null,\n                temperature: p.temperature ?? null\n            }\n        };\n        const batteryStates = context.get('batteryStates') || {};\n        const nextState = boundedSoc <= 10 ? 'critical' : boundedSoc <= 20 ? 'warning' : null;\n        const previousState = batteryStates[deviceId] || null;\n        if (nextState !== previousState) {\n            alertMsg = {\n                topic: 'smartback/alerts/device', qos: 1, retain: false,\n                payload: {\n                    schema_version: 1, timestamp: receivedAt, device_id: deviceId, patient_id: patientId,\n                    category: 'device', severity: nextState || 'info', code: nextState === 'critical' ? 'BATTERY_CRITICAL' : nextState === 'warning' ? 'BATTERY_LOW' : 'BATTERY_RECOVERED',\n                    message: nextState === 'critical' ? `Carica critica: ${boundedSoc}%` : nextState === 'warning' ? `Carica bassa: ${boundedSoc}%` : `Carica nuovamente sufficiente: ${boundedSoc}%`,\n                    active: nextState !== null, state_of_charge: boundedSoc\n                }\n            };\n            batteryStates[deviceId] = nextState;\n            context.set('batteryStates', batteryStates);\n        }\n    }\n} else if ((packetType === 'DATALOSS' || p.type === 'dataloss') && assigned) {\n    alertMsg = {\n        topic: 'smartback/alerts/device', qos: 1, retain: false,\n        payload: {\n            schema_version: 1, timestamp: receivedAt, device_id: deviceId, patient_id: patientId,\n            category: 'data_quality', severity: 'warning', code: 'DATA_LOSS',\n            message: `La maglia ha dichiarato una perdita di dati: ${p.value ?? 'valore non disponibile'}`,\n            active: true, value: p.value ?? null\n        }\n    };\n}\n\nreturn [rawMsg, postureMsg, deviceMsg, influxMsg, alertMsg];",
    "outputs": 5,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 170,
    "wires": [
      [
        "mqtt-shirt-raw",
        "debug-shirt"
      ],
      [
        "mqtt-normalized-posture",
        "debug-posture-normalized"
      ],
      [
        "mqtt-normalized-device",
        "debug-device-normalized",
        "prepare-device-influx"
      ],
      [
        "influx-write-shirt-raw"
      ],
      [
        "mqtt-device-alert"
      ]
    ]
  },
  {
    "id": "mqtt-shirt-raw",
    "type": "mqtt out",
    "z": "smartback-tab",
    "name": "MQTT OUT — copia raw interna",
    "topic": "",
    "qos": "",
    "retain": "false",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "cfg-smartback-mqtt",
    "x": 960,
    "y": 60,
    "wires": []
  },
  {
    "id": "mqtt-normalized-posture",
    "type": "mqtt out",
    "z": "smartback-tab",
    "name": "MQTT OUT — postura → FastAPI",
    "topic": "",
    "qos": "",
    "retain": "false",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "cfg-smartback-mqtt",
    "x": 980,
    "y": 110,
    "wires": []
  },
  {
    "id": "mqtt-normalized-device",
    "type": "mqtt out",
    "z": "smartback-tab",
    "name": "MQTT OUT — batteria/device",
    "topic": "",
    "qos": "",
    "retain": "true",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "cfg-smartback-mqtt",
    "x": 980,
    "y": 160,
    "wires": []
  },
  {
    "id": "influx-write-shirt-raw",
    "type": "http request",
    "z": "smartback-tab",
    "name": "INFLUXDB — salva pacchetto raw",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 210,
    "wires": [
      [
        "debug-influx-error"
      ]
    ]
  },
  {
    "id": "debug-shirt",
    "type": "debug",
    "z": "smartback-tab",
    "name": "DEBUG — raw arricchito",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 990,
    "y": 260,
    "wires": []
  },
  {
    "id": "debug-influx-error",
    "type": "debug",
    "z": "smartback-tab",
    "name": "DEBUG — esito salvataggio raw",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "statusCode",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1240,
    "y": 210,
    "wires": []
  },
  {
    "id": "debug-mqtt-input",
    "type": "debug",
    "z": "smartback-tab",
    "name": "DEBUG 1 - MQTT ESP32",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 320,
    "wires": []
  },
  {
    "id": "debug-json-parsed",
    "type": "debug",
    "z": "smartback-tab",
    "name": "DEBUG 2 - JSON decodificato",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 420,
    "y": 270,
    "wires": []
  },
  {
    "id": "debug-posture-normalized",
    "type": "debug",
    "z": "smartback-tab",
    "name": "DEBUG 3 - Postura normalizzata",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 320,
    "wires": []
  },
  {
    "id": "debug-device-normalized",
    "type": "debug",
    "z": "smartback-tab",
    "name": "DEBUG 4 - Device normalizzato",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1300,
    "y": 320,
    "wires": []
  },
  {
    "id": "alerts-comment",
    "type": "comment",
    "z": "smartback-tab",
    "name": "3. ALERT — device, qualità dati e postura",
    "info": "Gli alert device sono creati da Node-RED. Gli alert posturali sono creati da FastAPI quando cambia lo stato, poi gestiti e archiviati qui.",
    "x": 250,
    "y": 400,
    "wires": []
  },
  {
    "id": "mqtt-device-alert",
    "type": "mqtt out",
    "z": "smartback-tab",
    "name": "MQTT OUT — alert device",
    "topic": "",
    "qos": "",
    "retain": "false",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "cfg-smartback-mqtt",
    "x": 980,
    "y": 370,
    "wires": []
  },
  {
    "id": "mqtt-alerts-in",
    "type": "mqtt in",
    "z": "smartback-tab",
    "name": "MQTT IN — tutti gli alert",
    "topic": "smartback/alerts/+",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "cfg-smartback-mqtt",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 460,
    "wires": [
      [
        "json-alert"
      ]
    ]
  },
  {
    "id": "json-alert",
    "type": "json",
    "z": "smartback-tab",
    "name": "Decodifica JSON alert",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 350,
    "y": 460,
    "wires": [
      [
        "manage-alert"
      ]
    ]
  },
  {
    "id": "manage-alert",
    "type": "function",
    "z": "smartback-tab",
    "name": "VALIDA ALERT — prepara archivio",
    "func": "const a = msg.payload;\nif (!a || !a.device_id || !a.code || !Number.isFinite(Number(a.timestamp))) {\n    node.warn(`Alert non valido da ${msg.topic}`);\n    return [null, null];\n}\nconst safe = value => String(value ?? 'unknown').replace(/[ ,=]/g, '_');\nconst sessions = context.get('monitoringSessions') || {};\nif (a.session_id) sessions[a.device_id] = a.session_id;\nconst sessionId = a.session_id || sessions[a.device_id] || 'legacy';\nsessions[a.device_id] = sessionId;\ncontext.set('monitoringSessions', sessions);\nconst escapedMessage = String(a.message || a.code).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\nconst influxMsg = {\n    method: 'POST',\n    url: `${env.get('INFLUXDB_URL')}/api/v2/write?org=${encodeURIComponent(env.get('INFLUXDB_ORG'))}&bucket=${encodeURIComponent(env.get('INFLUXDB_BUCKET'))}&precision=ms`,\n    headers: {Authorization: `Token ${env.get('INFLUXDB_TOKEN')}`, 'Content-Type': 'text/plain; charset=utf-8'},\n    payload: `alerts,device_id=${safe(a.device_id)},patient_id=${safe(a.patient_id)},category=${safe(a.category)},severity=${safe(a.severity)},code=${safe(a.code)},session_id=${safe(sessionId)} active=${Boolean(a.active)},episode_started=${Boolean(a.episode_started)},message=\"${escapedMessage}\" ${Number(a.timestamp)}`\n};\nconst debugMsg = {...msg, payload: {...a, session_id: sessionId, received_by_nodered_at: Date.now()}};\nreturn [influxMsg, debugMsg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 460,
    "wires": [
      [
        "influx-write-alert"
      ],
      [
        "debug-alert"
      ]
    ]
  },
  {
    "id": "influx-write-alert",
    "type": "http request",
    "z": "smartback-tab",
    "name": "INFLUXDB — salva alert",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 840,
    "y": 440,
    "wires": [
      [
        "debug-alert-storage"
      ]
    ]
  },
  {
    "id": "debug-alert",
    "type": "debug",
    "z": "smartback-tab",
    "name": "DEBUG ALERT ATTIVI/RISOLTI",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 490,
    "wires": []
  },
  {
    "id": "debug-alert-storage",
    "type": "debug",
    "z": "smartback-tab",
    "name": "DEBUG salvataggio alert",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "statusCode",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1080,
    "y": 440,
    "wires": []
  },
  {
    "id": "prepare-device-influx",
    "type": "function",
    "z": "smartback-tab",
    "name": "PREPARA — measurement device_status",
    "func": "const p = msg.payload;\nif (!p || !p.device_id || !Number.isFinite(Number(p.timestamp)) || !Number.isFinite(Number(p.state_of_charge))) return null;\nconst safe = value => String(value).replace(/[ ,=]/g, '_');\nmsg.method = 'POST';\nmsg.url = `${env.get('INFLUXDB_URL')}/api/v2/write?org=${encodeURIComponent(env.get('INFLUXDB_ORG'))}&bucket=${encodeURIComponent(env.get('INFLUXDB_BUCKET'))}&precision=ms`;\nmsg.headers = {Authorization: `Token ${env.get('INFLUXDB_TOKEN')}`, 'Content-Type': 'text/plain; charset=utf-8'};\nmsg.payload = `device_status,device_id=${safe(p.device_id)},patient_id=${safe(p.patient_id)} state_of_charge=${Number(p.state_of_charge)},charging=${Boolean(p.charging)} ${Number(p.timestamp)}`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 560,
    "wires": [
      [
        "influx-write-device"
      ]
    ]
  },
  {
    "id": "influx-write-device",
    "type": "http request",
    "z": "smartback-tab",
    "name": "INFLUXDB — salva device_status",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 910,
    "y": 560,
    "wires": [
      [
        "debug-device-storage"
      ]
    ]
  },
  {
    "id": "debug-device-storage",
    "type": "debug",
    "z": "smartback-tab",
    "name": "DEBUG salvataggio device",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "statusCode",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1170,
    "y": 560,
    "wires": []
  },
  {
    "id": "flow-errors-comment",
    "type": "comment",
    "z": "smartback-tab",
    "name": "ERRORI FLOW — conversione in alert operativo",
    "info": "Intercetta eccezioni inattese nei nodi di parsing e trasformazione senza interrompere il flusso principale.",
    "x": 250,
    "y": 640,
    "wires": []
  },
  {
    "id": "catch-flow-errors",
    "type": "catch",
    "z": "smartback-tab",
    "name": "CATCH — errori Node-RED",
    "scope": [
      "json-shirt",
      "filter-monitor-shirt",
      "adapt-shirt-packet",
      "json-alert",
      "manage-alert",
      "prepare-device-influx"
    ],
    "uncaught": false,
    "x": 170,
    "y": 690,
    "wires": [
      [
        "format-flow-error"
      ]
    ]
  },
  {
    "id": "format-flow-error",
    "type": "function",
    "z": "smartback-tab",
    "name": "FORMATTA — alert errore flow",
    "func": "const source = msg.error?.source?.name || msg.error?.source?.id || 'unknown';\nconst message = msg.error?.message || 'Errore Node-RED non specificato';\nconst alert = {\n    topic: 'smartback/alerts/device', qos: 1, retain: false,\n    payload: {\n        schema_version: 1,\n        timestamp: Date.now(),\n        device_id: msg.payload?.device_id || 'nodered',\n        patient_id: msg.payload?.patient_id || env.get('SMARTSHIRT_PATIENT_ID') || 'unknown',\n        category: 'ingestion',\n        severity: 'critical',\n        code: 'NODERED_FLOW_ERROR',\n        message: `${source}: ${message}`,\n        active: true,\n        source_node: source\n    }\n};\nreturn [alert, {...msg, payload: alert.payload}];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 690,
    "wires": [
      [
        "mqtt-device-alert"
      ],
      [
        "debug-flow-error"
      ]
    ]
  },
  {
    "id": "debug-flow-error",
    "type": "debug",
    "z": "smartback-tab",
    "name": "DEBUG — errori flow",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 710,
    "wires": []
  }
]
